.MainScreen {
    background-color: #D95F70;
    background-size: 100% 100%;
    color: #fdfdfd;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 16px;
     padding-block: 50px;
    min-height: 100vh;


     .other {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 16px;
     }
}