.Colors {
   padding-block: 64px;
    background: linear-gradient(#EEA7B1, #AD5E69, #936A70);
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;

   .back_button {
      color: #fdfdfd;
      text-decoration: none;
      font-size: 24px;
      font-weight: 700;
      background-color: #fca9b4;
      padding: 20px;
      border: 4px solid #D95F70;
      border-radius: 40px;
   }

   .colors_block {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 16px;
     padding-block: 50px;

     .color {
      &_block {
         display: flex;
      flex-direction: column;
      align-items: center;

      &.playing {
      animation: bounce 0.6s infinite;
      }
      }

      &_color {
         width: 195px;
         height: 195px;
         border: 2px solid #D95F70;
         border-radius: 80px;
      }
     }
    
   } 
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}