.Days {
   padding-block: 64px;
    background: linear-gradient(#EEA7B1, #AD5E69, #936A70);
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;

   .back_button {
      color: #fdfdfd;
      text-decoration: none;
      font-size: 24px;
      font-weight: 700;
      padding: 30px;
      border-radius: 40px;
      cursor: pointer;
      background: url('https://demo.promo///og/CH/images/return.png') center no-repeat;
   }

   .days_block {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 16px;
     padding-block: 50px;
     font-size: 38px;
     color: #fdfdfd;

     .day {
      &_block {
         display: flex;
      flex-direction: column;
      align-items: center;
      width: 387px;
      padding-block: 30px;
      border: 4px solid #D95F70;
      border-radius: 40px;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      @media (max-width: 429px){
        width: 90vw;
      }

      &.playing {
      animation: bounce 0.6s infinite;
      }
      }
     }
    
   } 
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}