@use "../../styles/animations";

.PartsOfTheBody {
   padding-block: 34px;
    background: linear-gradient(#CBED86, #FFFFFF, #FFFFFF, #CBED86);
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;

   .back_button {
      color: #fdfdfd;
      text-decoration: none;
      font-size: 24px;
      font-weight: 700;
      padding: 30px;
      border-radius: 40px;
      cursor: pointer;
      background: url('https://demo.promo///og/CH/images/return.png') center no-repeat;
   }

   .parts_block {
    color: #F28190;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 16px;
     padding-block: 50px;
     overflow: hidden;

     .part {
      &_block {
         display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      @media (max-width: 429px){
        width: 40vw;
      }
      }

      &_img {
         border: 2px solid #D95F70;
      border-radius: 80px;
      width: 180px;
      
      @media (max-width: 429px){
        width: 40vw;
      }
      }
     }
    
   } 
}
