.MainScreenComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 238px;
    cursor: pointer;

    .component {
        &__image {
            width: 195px;
            height: 195px;
            border-radius: 40px;
            object-fit: cover;
        }
    }
}