.MainScreenComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 238px;
    cursor: pointer;

    @media (max-width: 429px){
        width: 40vw;
      }

    .component {
        &_image {
            width: 180px;
            height: 180px;
            border-radius: 40px;
            object-fit: cover;

            @media (max-width: 429px){
        width: 40vw;
        height: 40vw;
      }
        }
    }
}