.Alphabet {
   padding-block: 34px;
    background-color: #d8be19;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;

   .back_button {
      color: #fdfdfd;
      text-decoration: none;
      font-size: 24px;
      font-weight: 700;
      padding: 30px;
      border-radius: 40px;
      cursor: pointer;
      background: url('https://demo.promo///og/CH/images/return.png') center no-repeat;
   }

   .alphabet_block {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 16px;
     padding-block: 50px;
     overflow: hidden;

     .letter {
      &_block {
         display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
       border: 2px solid #D95F70;
         border-radius: 80px;
         width: 180px;
         height: 180px;
         @media (max-width: 429px){
        width: 40vw;
        height: 40vw;
         }

      &.playing {
      animation: bounce 0.6s infinite;
      }
      }

      &_name {
        color: #fdfdfd;
        font-size: 4rem;
      }
     }
    
   } 
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}